<ul class="social-links">
    <li><a href="https://plus.google.com/u/0/107819692804194571754"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UCdx5SGdVLLzoPvZv4qUzG0w"><i class="fa fa-youtube"></i></a></li>
    <li><a href="https://github.com/rchampagneca"><i class="fa fa-github-square"></i></a></li>
    <li><a href="https://bitbucket.org/rchampagneca/"><i class="fa fa-bitbucket"></i></a></li>
    <li><a href="https://www.last.fm/user/rchampagneca"><i class="fa fa-lastfm-square"></i></a></li>
    <li><a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a></li>
</ul>
